{{>header}}
	
<section class="container">
	<p>Ingresa la información en los campos para realizar una inscripción.</p>
	<form action="/inscripcion" method="post">
		<div class="row">
			<div class="col-6">
				<div class="form-group">
                    <label>Documento de identidad:</label>
					<input name="documento" type="text" class="form-control" placeholder="Documento de identidad" required>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
                    <label>Nombre:</label>
					<input name="nombre" type="text" class="form-control" placeholder="Nombre" required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-6">
				<div class="form-group">
                    <label>Correo electrónico:</label>
					<input name="correo" type="email" class="form-control" placeholder="Correo electrónico" required>
				</div>
			</div>
			<div class="col-6">
				<div class="form-group">
                    <label>Teléfono:</label>
					<input name="telefono" type="text" class="form-control" placeholder="Teléfono">
				</div>
			</div>
		</div>	
		<div class="row">
			<div class="col-6">
				<div class="form-group">
                    <label>Curso al que desea inscribirse:</label>
					<select class="form-control" name="curso">
						<option selected="selected">Seleccionar</option>
						{{{listadoCursos}}}
					</select>
				</div>
			</div>
		</div>				
		<div class="row">
			<div class="col-12">	
				<button class="btn btn-primary">Inscribirme</button>		
			</div>
		</div>					
	</form>
</section>

{{>footer}}